<div class="full-width bg-white" style="height:auto">

    <div class="full-width padding-10 buffer-bottom" style="height: 300px; text-align:center;  background: #936096;  color: #fff; font-size: 24px;">
        <h1>Welcome to TapSocail.</h1>
        <h4>Find your inspiration</h4>

        <p>
            Connect with your friends — and other fascinating people. Get in-the-moment updates on the things that interest you. And watch events unfold, in real time, from every angle.
        </p>
    </div>

    <div class=" app-content full-height">

        <div class="full-width pull-left">
            <!--<h4>Popular Article</h4>-->
            <h4>Most Popular </h4>
            <img src="../resource/images/default/loader.gif" id="home-article-loader" />

            <div class="full-width " id="article-gridview">

                rryryry
            </div>
        </div>
    </div>
</div>

<style>
    .hmc {
        width: 21%;
        height: 600px;
        float: left;
        width: 19%;
        height: auto;
        float: left;
        margin-right: 1%;
        margin-left: 0 !important;
    }

    .article-content2 {
        white-space: pre-wrap;
        font-family: Georgia, serif,Helvetica, Arial, sans-serif;
        line-height: 16px;
        font-size: 13px;
        padding: 13px;
        text-align: left;
        font-weight: 500;
        color: #585858;
        overflow: hidden;
        text-align: justify;
        overflow: hidden;
        line-height: 21px;
        text-overflow: ellipsis;
        -webkit-font-smoothing: antialiased;
    }

    .article-ctr {
        padding: 25px 1px;
        margin: 5px;
        float: left;
        width: 100%;
        /*border-radius: 3px;*/
        background: #f9f9f9;
        display: inline-block;
        display: -webkit-flex;
        -webkit-flex-wrap: wrap;
        display: flex;
        flex-wrap: wrap;
        font-family: 'kiron', SolaimanLipi, Arial, Vrinda, FallbackBengaliFont, Helvetica, sans-serif !important;
        -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
        box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
        z-index: 1;
        /*height: 226px;border-bottom: 1px solid #ddd;*/
    }

    .article-title {
        font-size: 17px;
        line-height: 22px;
        /*color: #1976d2;*/
        margin-bottom: 10px;
        font-weight: 500;
        padding: 8px;
        word-wrap: break-word;
    }

    .article-summery {
        color: #333333;
        margin-bottom: 10px;
        word-wrap: break-word;
        font-size: 12px;
        margin-top: -8px;
    }

    .article-user-details {
        border-top: 1px solid #fff;
        padding-top: 10px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .question-ctr {
        padding: 4px;
        margin: 4px;
        float: left;
        width: 24%;
        border-radius: 3px;
        display: inline-block;
        display: -webkit-flex;
        -webkit-flex-wrap: wrap;
        display: flex;
        flex-wrap: wrap;
        font-family: 'kiron', SolaimanLipi, Arial, Vrinda, FallbackBengaliFont, Helvetica, sans-serif !important;
    }

    .question-text {
        font-size: 15px;
        line-height: 26px;
        color: #1976d2;
        margin-bottom: 10px;
        font-weight: normal;
        word-wrap: break-word;
    }

    /*.title-of-article {
        margin-top: -32px;
        padding: 54px 6px 38px 0px;

        background: #201E23;
        color: #fff;
        border-radius: 3px 3px 0 0;
    }*/

    .title-of-article {
        margin-top: -32px;
        padding: 22px 6px 1px 0px;
        color: #000;
        border-radius: 3px 3px 0 0;
    }

    .abg1 {
        background-image: url(/resource/images/homepage/1.jpg);
        color: #fff;
    }

    .abg2 {
        background-image: url(/resource/images/homepage/2.jpg);
        color: #fff;
    }

    .abg3 {
        background-image: url(/resource/images/homepage/3.jpg);
        color: #1976d2;
    }

    .abg4 {
        background-image: url(/resource/images/homepage/4.jpg);
        color: #fff;
    }

    .abg5 {
        background-image: url(/resource/images/homepage/5.png);
        color: #fff;
    }

    .abg6 {
        background-image: url(/resource/images/homepage/6.png);
        color: #fff;
    }
</style>