<ul class="full-width nav-vertical info">
    <li><a href="/profile">Profile</a></li>
    <li><a href="/livefeed">Feeds</a></li>
    <li><a href="/notification">Notification</a></li>
    <li><a href="/search">Search</a></li>
    <li><a href="/findfriend">Find Friend</a></li>
    <li><a href="/settings">Settings</a></li>
   
</ul>

<div class="full-width" style="border-top:1px solid #ccc">
    <ul class="full-width nav-vertical info">
        <li><a href="/profile">Help Center</a></li>
        <li><a href="/livefeed">Terms and Conditon</a></li>
        <li><a href="/logout" id="logOut">LogOut</a></li>

    </ul>
</div>

<style>
    .info {
   
        font-weight: 500;
        padding: 10px;
    }

        .info li {
            height: 34px;
            font-size: 14px;
        }

    .side-bar {
        display: none;
    }
</style>